body {
    font-family: SEGOE UI;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../image/login.jpg);
     /*background-image: url('assets/image/background.jpg');*/
}
p,h5,h6,h4,li,ul {
	margin: 0;
	padding: 0;
}

._header-container {
    position: relative;
    display: flex;
    height: 65px;
}
._header-container .logo_container img {
    position: fixed;
    width: 180px;
    height: 65px;
}
._header_menu {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 190px;
    height: 42px;
    background: #053843;
    z-index: 100;
    /*box-shadow: 0 8px 6px -6px black;*/
}

._h_title {
    padding: 9px 0;
}
.logo_container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 101;
}
._h_title h6 {
    font-size: 16px;
    color: #fff;
}
.sub_menu {
    display: flex;
}
._header_notification {
    padding: 9px;
    margin-right: 2px;
    cursor: pointer;
}
._header_notification img {
    width: 18px;
}
._header_profile img {
    width: 17px;
}

._header_profile {
    padding: 0px 5px;
    height: 25px;
    border-radius: 50%;
    margin: 9px 0;
    background: #c4c4c4;
    margin-right: 8px;
    cursor: pointer;
}

._menu_box_container img {
    width: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    height: 107px;
    left: 0;
    z-index: -1;
    margin-top: -4px;
}

._menu_box_container {
    width: 340px;
    padding: 0;
    height: 92px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 20px;
    float: left;
}
._body_container {
    width: 1074px;
    margin: 0 auto;
    margin-top: 5%;
}

#_body_container{
    margin: 0 auto;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    top: 20%;
    width: 1074px;
}

._body_container~._body_container {
    margin-top: 5%;
}

._menu_box_container:nth-child(3n+1), ._menu_box_container:nth-child(3n+2) {
    margin-right: 27px;
}

._box_title h6 {
    font-size: 12px;
    color: #fff;
}

._box_content {
    font-size: 10px;
    color: #fff;
    margin-top: 7px;
}
._box_body_content {
    padding: 11px 14px;
}
.clear-fixed {
	clear: both;
}

._box_title a {
	text-decoration: none;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 999999;
}

._footer_container {
    background: #002426;
    display: flex;
    padding: 8px;
    justify-content: center;
    position: relative;
}

._footer_container h6 {
    font-size: 7px;
    color: #ffffff6b;
    font-weight: 100;
}

._footer_container h6:nth-child(1){
	margin-right: 65px;
}
._footer_container img {
    width: 24px;
}

._footer_img_cont {
    position: absolute;
    bottom: 0px;
    padding: 6px 8px;
    border-radius: 50%;
    background: #595a5a99;
}

._float_chat {
    position: absolute;
    bottom: 40px;
    right: 22px;
}

._float_chat_container img {
    width: 32px;
    height: 32px;
}
._float_chat_container {
    background: #0eaa66;
    border-radius: 50%;
    padding: 9px 9px 5px;
    cursor: pointer;
}

.notificationbox {
    transform: translate3d(-376px, 53px, 0px)!important;
    /*top: 0px;
    will-change: transform;
    position: absolute;
    left: 0px;*/
    width: 438px;
    height: 249px;
    margin-top: -12px;
}
.user_profile_box {
    transform: translate3d(-284px, 53px, 0px)!important;
    /*top: 0px;
    will-change: transform;
    position: absolute;
    left: 0px;*/
    width: 314px;
    height: 290px;
    margin-top: -12px;
}

.user_profile_box .notif_box_content {
    position: relative;
    padding: 12px 0;
}
._personal_details {
    padding: 0 22px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cecece;
}
._edit_p h6 {
    font-size: 11px;
}

._edit_p p {
    font-size: 8px;
}

._change_password img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
._change_password {
    display: flex;
    margin-top: 10px;
}
._edit_profile {
    display: flex;
}
._change_password h6 {
    font-size: 11px;
    padding: 4px 0;
}

._logout {
    display: flex;
    margin-top: 10px;
}
._logout img {
    width: 25px;
    margin-right: 10px;
}
._logout h6 {
    font-size: 12px;
    padding: 4px 0;
}
._personal_details a {
    font-size: 11px;
    text-decoration: none;
}
._edit_profile img {
    width: 25px;
    margin-right: 10px;
    height: 25px;
}
._action_dropdown_settings {
    padding: 20px 31px;
}
._profile_dropdown_header h6 {
    font-size: 12px;
}
._personal_details h6 {
    font-size: 12px;
    padding: 9px 0px;
}

._second_row_user {
    display: flex;
    height: 43px;
    margin-bottom: 5px;
}

._second_row_user img {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    margin-right: 10px;
}
._sm_detail h6 {
    font-size: 11px;
    font-weight: normal;
    padding: 5px 0 2px 0;
}

._sm_detail h5 {
    font-size: 10px;
}

._sm_detail h5 i.fa.fa-check {
    background: #04DB66;
    color: #fff;
    border-radius: 10px;
    margin-right: 7px;
}


._profile_dropdown_header {
    text-align: center;
    font-size: 12px;
    font-weight: normal;
}


._nm_message p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.notif_box_content {
    position: relative;
    padding: 4px 10px;
}
.notif_box_header {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 12px;
}

.notif_title h6 {
    font-size: 12px;
    font-weight: 500;
    color: #7b7b7b;
}

.notif_title {
    display: flex;
}

.notif_title h5 {
    font-size: 10px;
    font-weight: bold;
    margin-left: 10px;
    background: #0e8992;
    color: #fff;
    border-radius: 50%;
    padding: 2px 5px;
    width: 18px;
    text-align: center;
    height: 18px;
}
.settings_area {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.notification_scroll {
    overflow-y: scroll;
    height: 194px;
}

.notification_message {
    padding: 6px;
    padding-left: 15px;
    background: #d9e3e8;
    border-bottom: 1px solid #78787852;
    cursor: pointer;
}

.notification_scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 36px;
}
.notification_scroll::-webkit-scrollbar-thumb {
    background-color: #00000029;
    outline: 1px solid #191e2c00;
    border-radius: 36px;
}

.notification_scroll::-webkit-scrollbar {
    width: 6px;
    border-radius: 36px;
}

._nm_title h6 {
    font-size: 12px;
}
._nm_message {
    font-size: 12px;
}

.notification_message .footer {
    font-size: 10px;
}


.notification_modal_show .modal-dialog {
    top: 104px;
    max-width: 386px;
}

._modal_notif_container {
    background: #fff;
    width: 386px;
}

._modal_notif_container .title h6 {
    font-size: 14px;
    padding: 15px;
}

._modal_content {
    font-size: 14px;
    padding: 15px;
}

._modal_footer {
    padding: 15px;
    text-align: right;
    background: #154c61;
}

._modal_footer button {
    width: 54px;
    height: 23px;
    padding: 0px;
    font-size: 12px;
    border-radius: 12px;
    cursor: pointer;
    border: 0;
}

._custom_arrow {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 12px;
    border-top-right-radius: 7px;
    border-top-left-radius: 100%;
    border-bottom-right-radius: 100%;
    transform: rotate(-45deg);
    top: -12px;
    background: #fff;
    z-index: -1;
}

._custom_arrow2 {
    right: -4px;
    top: -0px;
}

._pop_window {
    max-width: 1074px;
    background: #fff; 
    border-radius: 10px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    width: 1074px;
    min-width: 650px;
    min-height: 420px;
    z-index: 5;
    box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.30);
    margin-bottom: 80px;
}
._pop_title {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}

._pop_title {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background: #204051;
    /* border-top: 2px solid #204051; */
    color: #fff;
    text-decoration: none;
    height: 42px;
    
    cursor: move;
}
._pop_title h6 {
    font-size: 16px;
    font-weight: normal;
}
._pop_action a {
    color: #649ab7;
    padding: 0px 6px;
}
._pop_header {
    padding: 20px;
}
._pop_option {
    display: flex;
    margin-top: 10px;
}

._first_select_option {
    display: flex;
    width: 185px;
    justify-content: space-between;
}
._first_select_option select {
    width: 100px;
    box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.30);
}
._second_select_option {
    display: flex;
    width: 185px;
    margin-left: 15px;
    justify-content: space-between;
}

._second_select_option select {
    width: 100px;
    box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.30);
}

._pop_option h6 {
    padding: 4px 0;
}

._view_selected input {
    width: 100px;
    margin-left: 15px;
    background: #204051;
    border: 0;
    color: #fff;
}

._pop_result_box {
    padding: 20px;
}

._pop_thead {
    display: flex;
    width: 100%;
    background: #948d8d;
    padding: 8px 3px;
    height: 32px;
}

._pop_thead h6 {
    width: 20.5%;
    border-left: 1px solid #c7bfbf;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

h6._column_1 {
    width: 39.2%;
    border-left: unset;
}

._rows {
    display: flex;
    width: 100%;
}


._rows h5 {
    font-size: 12px;
    width: 20.5%;
    padding: 3px 4px;
    background: #948d8d;
    text-align: center;
    font-weight: 500;
}

._rows h5:nth-child(1),._rows h6:nth-child(1) {
    margin-right: 2px;
    width: 39.5%;
    text-align: left;
}

._pop_tbody {
    padding: 5px;
    box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.30);
    overflow-y: scroll;
    height: auto;
    position: absolute;
    width: 96.2%;
    bottom: 18px;
    top: 186px;
}

._rows h6 {
    margin: 4px 0;
    background: #e8e7e7;
    padding: 2px;
    font-size: 12px;
    width: 20.5%;
    text-align: center;
    margin-bottom: 0;
}

._rows.m_top {
    margin-top: 4px;
}

._pop_tbody::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 36px;
}
._pop_tbody::-webkit-scrollbar-thumb {
    background-color: #00000029;
    outline: 1px solid #191e2c00;
    border-radius: 36px;
}

._pop_tbody::-webkit-scrollbar {
    width: 6px;
    border-radius: 36px;
}

._pop_window {
  position: absolute;
  /*resize: both; !*enable this to css resize*! */
  overflow: auto;
}



/*Resizeable*/

._pop_window  .resizer-right {
  width: 5px;
  height: 100%;
  background: transparent;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: e-resize;
}

._pop_window  .resizer-bottom {
  width: 100%;
  height: 5px;
  background: transparent;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: n-resize;
}

._pop_window  .resizer-both {
  width: 5px;
  height: 5px;
  background: transparent;
  z-index: 10;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: nw-resize;
}

/*NOSELECT*/

._pop_window  * {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}



._show_sidebar {
    font-size: 30px;
    /*position: absolute;*/
    position: fixed;
    top: 0;
    left: 0px;
    width: 29px;
    z-index: 101;
    color: #fff;
    background: #204051;
    text-align: center;
    padding-bottom: 4px;
    border-top-right-radius: 380px;
    border-bottom-right-radius: 380px;
    padding-right: 6px;
    cursor: pointer;
  
    /* animation-name: fade;
    animation-duration: 3s; */
}






._sidebar_container {
    z-index: 102;
    /*position: absolute;*/
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 349px !important;
}

._sidebar_header .logo img {
    width: 115px;
    height: 41px;
}

._close_sidebar {
    font-size: 29px;
    color: #fff;
    padding: 0;
    height: 5px;
    margin-top: -5px;
    cursor: pointer;
}
._sidebar_header {
    display: flex;
    justify-content: space-between;
    padding: 7px 7px;
    background: #204051;
    padding-right: 13px;
    border-top-right-radius: 36px;
    height: 55px;
    border-bottom-right-radius: 36px;
}

._sidebar_header h6 {
    padding: 10px;
    font-size: 16px;
    color: #fff;
}
._sidebar_body {
    height: 100vh;
    width: 336px;
    background: #05b592f2;
    padding-top: 5px;
    overflow-y: scroll;
    margin-left: -10px;
}

._sidebar_body ._menu_box_container {
    width: 333px;
    padding: 0;
    height: 92px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 5px;
    margin-left: 5px;
    z-index: 151;
}

._sidebar_body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(0, 0, 0);
    border-radius: 36px;
}
._sidebar_body::-webkit-scrollbar-thumb {
    background-color: #00000099;
    outline: 1px solid #191e2c;
    border-radius: 36px;
}

._sidebar_body::-webkit-scrollbar {
    width: 6px;
    border-radius: 36px;
}

.background {
    width: 100%;
    height: 100%;
    background: #ffffff6e;
    z-index: 4;
    position: absolute;
    top: 0;
    display: none;
}

.modal-backdrop.fade.show {
    z-index: 50;
}

.report_modal_show .modal-dialog {
    position: unset;
    width: 100%;
    max-width: 1074px;
    transform: translate(0, 60px) !important;
}
.report_modal_show ._pop_window {
    max-width: 1074px;
    background: #fff;
    border-radius: 10px;
    width: 1074px;
    min-width: 650px;
    min-height: 400px;
    z-index: 5;
    right: 0;
    left: 0;
    margin: 0 auto;
}

.report2,.report3 {
	display: none;
}

.full_screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    max-width: 100%;
    width: 100%;
    border-radius: 0;
    z-index: 10000 !important;
}

.full_screen ._pop_title {
	border-radius: 0;
    cursor: unset;
}
._menu_box_container a {
    text-decoration: none;
}

._chat_container {
    position: fixed;
    width: 302px;
    background: #053843;
    bottom: 24px;
    right: 0;
    display: none;
    height: 488px;
    color: #e8e8e8;
}

._chat_list {
    overflow-y: scroll;
    height: 395px;
}

._chat_list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 36px;
}
._chat_list::-webkit-scrollbar-thumb {
    background-color: #00000029;
    outline: 1px solid #191e2c00;
    border-radius: 36px;
}

._chat_list::-webkit-scrollbar {
    width: 6px;
    border-radius: 36px;
}
._chat_header {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

._chat_header h6 {
    font-size: 12px;
}
._chat_header ._close_chat_list {
    background: transparent;
    color: #fff;
    border: 0;
}
._chat_search {
    padding: 8px;
    position: relative;
}

._chat_search input {
    width: 281px;
    border: 0;
    border-radius: 25px;
    height: 40px;
    background: #0a0a0a;
    opacity: 0.66;
    color: #fff;
    padding: 11px;
    padding-left: 34px;
}
._chat_search i {
    position: absolute;
    left: 22px;
    top: 20px;
    bottom: 0;
}

._user_profile img {
    width: 33px;
}

._user_profile {
    background: #787878;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    position: relative;
}
._chat_box_user {
    display: flex;
    padding: 8px 10px;
    background: #053843;
    border: none;
    width: 100%;
    height: 58px;
    color: #cac9c9;
}

._chat_box_user:focus {
    outline: unset;
}
._username p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    opacity: 0.8;
}
._user_profile img {
    width: 100%;
    border-radius: 50%;
}
._username {
    padding: 6px;
    width: 167px;
    padding-left: 15px;
    text-align: left;
    font-size: 13px;
}
._username h6 {
    font-size: 13px;
    text-align: left;
}
._user_profile i {
    bottom: 2px;
    font-size: 9px;
    position: absolute;
    border: 2px solid #00000087;
    border-radius: 50%;
    height: 11px;
    line-height: 78%;
    color: #04DB66;
    right: 0;
}
._timeago {
    font-size: 10px;
    text-align: right;
    margin-left: 10px;
    width: 60px;
}

._show_chat_box_selected {
    position: fixed;
    width: auto;
    bottom: 24px;
    right: 303px;
    overflow: hidden;
    height: 488px;
}

._chat_box_show {
    background: #053843;
    color: #b7b6b6;
    height: 488px;
    width: 313px;
    float: right;
    margin-left: 1px;
    display: none;
}
._input_ma .dropdown-menu.show {
    position: absolute;
    transform: translate3d(131px, -42px, 0px)!important;
    width: 99px;
}
.menu_icons button {
	position: relative;
}

._chat_search input:focus {
    outline: unset;
}
._user_icon {
    width: 31px;
    height: 31px;
}
._cbs_header h6 {
    font-size: 13px;
    margin-left: -54px;
    padding: 7px 0;
}
._user_icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

._cbs_header {
    padding: 7px;
    display: flex;
    justify-content: space-between;
}

._first_div {
    display: flex;
}
._first_div a {
    text-decoration: none;
    color: #e8e8e8;
}
._cbs_header {
    padding: 7px;
    display: flex;
    justify-content: space-between;
    background: #0117198f;
}
._first_div h6 {
    font-size: 13px;
    padding: 6px;
    margin-left: 6px;
}

._chat_box_action button {
    background: none;
    border: 0;
    color: #6e94e8;
}
._chat_box_user:hover {
    background: #484C50;
}

._chat_box_action button:focus {
	outline: unset;
}

._chat_box_action {
    padding: 3px;
}

._cbs_message_content {
    padding: 0 10px 10px 10px;
    overflow-y: scroll;
    height: auto;
    position: absolute;
    bottom: 62px;
    max-height: 381px;
    width: 313px;
}
._input_message_area {
    height: auto;
    padding: 10px;
    padding-bottom: 3px;
    background: #1f1f1f;
    position: absolute;
    bottom: 0;
    width: 313px;
}
._input_ma {
    position: relative;
}
._input_ma button {
    position: absolute;
    border: 0;
    background: transparent;
    color: #fff;
}

._input_ma button:focus {
	outline: unset;
}
._input_ma button.fa.fa-smile-o {
    top: 13px;
    left: 4px;
    font-size: 15px;
    color: #ffffff87;
}
._input_ma button._mic.fa.fa-microphone {
    top: 8px;
    right: 44px;
    background: #2e2c2c;
    padding: 7px 9.4px;
    border-radius: 15px;
    color: #007ef4;
}
._input_ma button._mic.fa.fa-ellipsis-h {
    top: 8px;
    right: 8px;
    background: #2e2c2c;
    border-radius: 50%;
    padding: 7px 8.89px;
}

._input_message_area textarea {
    height: 43px;
    width: 294px;
    border-radius: 25px;
    background: #000;
    color: #fff;
    border: 0;
    min-height: 43px!important;
    padding: 12px 14px 8px 35px;
    font-size: 10px;
}
._input_message_area textarea:focus {
    outline: unset;
}

._cbs_message_content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 36px;
}
._cbs_message_content::-webkit-scrollbar-thumb {
    background-color: #00000029;
    outline: 1px solid #191e2c00;
    border-radius: 36px;
}

._cbs_message_content::-webkit-scrollbar {
    width: 6px;
    border-radius: 36px;
}
._l_u_m_icon {
    width: 30px;
    position: absolute;
    bottom: 0;
}
._l_u_m_icon img {
    width: 100%;
    border-radius: 50%;
    height: 30px;
}

._l_u_message {
    width: 245px;
    margin-left: 40px;
    background: #1b292d;
    font-size: 12px;
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
._left_user_messages {
    display: flex;
    height: auto;
    position: relative;
    margin-bottom: 7px;
}
._right_user_messages {
    margin-bottom: 7px;
}
._r_u_message {
    background: #007ef44f;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 12px;
    padding: 10px;
    margin-left: 40px;
}

._messages_container {
    position: relative;
    margin-top: -23px;
}

._user_list_column {
    background: #053843;
    color: #fff;
    width: 368px;
    top: 41px;
    padding-top: 23px;
    position: fixed;
    bottom: 24px;
    height: auto;
}

._user_list_scroll {
    overflow-y: scroll;
    position: absolute;
    width: 100%;
    height: auto;
    top: 140px;
    bottom: 0;
}

._user_list_scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #ffffff;
    border-radius: 36px;
}
._user_list_scroll::-webkit-scrollbar-thumb {
    background-color: #171717db;
    outline: 1px solid #191e2c;
    border-radius: 36px;
}
._user_list_scroll::-webkit-scrollbar {
    width: 6px;
    border-radius: 36px;
}
._messages_container ._chat_search {
    padding: 8px;
    position: relative;
    text-align: center;
}
._messages_container ._chat_search i {
    position: absolute;
    left: 29px;
    top: 24px;
    bottom: 0;
    font-size: 16px;
}
._messages_container ._chat_search input {
    width: 343px;
    border: 0;
    border-radius: 25px;
    height: 48px;
    background: #0a0a0a;
    opacity: 0.66;
    color: #fff;
    margin: 0 auto;
    padding: 11px;
    padding-left: 48px;
}
._user_list_column ._title_header h6 {
    font-size: 25px;
    padding: 10px;
    font-weight: unset;
}

._user_list_column ._chat_box_user {
    display: flex;
    padding: 8px 10px;
    padding-left: 20px;
    background: #053843;
    border: none;
    width: 100%;
    height: 66px;
    color: #cac9c9;
}

._user_list_column ._user_profile {
    background: #787878;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
}

._user_list_column ._user_profile i {
    bottom: 2px;
    font-size: 14px;
    position: absolute;
    border: 2px solid #00000087;
    border-radius: 50%;
    height: 15px;
    line-height: 78%;
    color: #04DB66;
    right: 0;
}

._user_list_column ._user_profile img {
    width: 100%;
    border-radius: 50%;
    height: 50px;
}

._messages_content_column ._mcc_header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


._mcc_header {
    display: flex;
    background: #0000009e;
    padding: 7px 20px;
    padding-left: 43px;
    color: #fff;
}

._messages_content_column ._mcc_header h6 {
    padding: 12px;
    font-size: 16px;
    margin-left: 10px;
    font-weight: normal;
}
._messages_content_column {
    position: fixed;
    left: 368px;
    right: 368px;
    top: 42px;
    height: auto;
    bottom: 24px;
    background: rgba(5, 56, 67, 0.70);
}

._messages_content_column ._cbs_message_content {
    padding: 0 10px 10px 10px;
    overflow-y: scroll;
    max-height: 75.5%;
    position: absolute;
    bottom: 80px;
    width: 100%;
    color: #b7b6b6;
    padding-left: 43px;
}

._messages_content_column ._right_user_messages {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    padding-right: 19px;
}
._messages_content_column ._l_u_m_icon img {
    width: 100%;
    border-radius: 50%;
    height: 35px;
}

._messages_content_column ._r_u_message {
    background: #007ef4ad;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 12px;
    padding: 15px;
    max-width: 290px;
}

._messages_content_column ._left_user_messages {
    display: flex;
    height: auto;
    position: relative;
    margin-bottom: 10px;
}
._messages_content_column ._l_u_message {
    max-width: 290px;
    margin-left: 50px;
    background: #1b292d;
    font-size: 12px;
    width: auto;
    padding: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
._messages_content_column ._l_u_message p {
    margin-bottom: 12px;
}
._messages_content_column ._l_u_message time.timeago {
    font-size: 10px;
}

._messages_content_column ._l_u_m_icon {
    width: 35px;
    position: absolute;
    bottom: 0;
}

._messages_content_column ._input_message_area {
    height: auto;
    padding: 10px 33px;
    padding-bottom: 20px;
    position: absolute;
    background: transparent;
    bottom: 0px;
    width: 100%;
    padding-left: 43px;
}

._messages_content_column ._input_ma .dropdown-menu.show {
    position: absolute;
    transform: translate3d(455px, -121px, 0px)!important;
    width: 183px;
    right: 0;
    background: none;
    border: none;
}
.container_sub_option {
    background: #fff;
    width: 96px;
    height: 113px;
    border-radius: 6px;
}
.container_sub_option a i {
    font-size: 16px;
}
.container_sub_option a h6 {
    font-size: 10px;
    margin-left: 6px;
    padding: 2px 0;
}
.container_sub_option a {
    display: flex;
    padding: 6px ;
}
._messages_content_column ._input_ma {
    position: relative;
    text-align: center;
}

._messages_content_column ._input_message_area textarea {
    height: 44px;
    width: 564px;
    border-radius: 25px;
    background: #000;
    color: #fff;
    border: 0;
    min-height: 43px!important;
    padding: 12px 14px 8px 40px;
    font-size: 10px;
}


._messages_content_column ._input_ma button.fa.fa-smile-o {
    top: 13px;
    left: 7px;
    font-size: 18px;
    color: #ffffff87;
}

._user_options_column {
    position: fixed;
    right: 0;
    width: 368px;
    background: #073436;
    top: 42px;
    bottom: 24px;
}

._uoc_header {
    text-align: right;
    padding: 11px;
}

._uoc_header button {
    background: unset;
    color: #007ef4;
    border: none;
}
._uoc_header button:focus {
    outline: none;
}

._user_profile_photo img {
    width: 97px;
    height: 97px;
    border-radius: 50%;
}
._user_profile_photo {
    text-align: center;
    padding: 18px;
}
._user_profile_photo ._name {
    display: flex;
    justify-content: center;
    color: #cac9c9;
    margin-top: 10px;
}
._user_profile_photo ._name h6 {
    font-size: 16px;
    font-weight: normal;
    margin-right: 10px;
}
._user_profile_photo ._name i {
    font-size: 14px;
    color: #10de63;
    border: 2px solid #000000a1;
    border-radius: 20px;
    height: 16px;
    line-height: 89%;
    margin-top: 1px;
}

._user_profile_photo h5 {
    font-size: 12px;
    color: #fff;
    font-weight: normal;
    margin-top: 10px;
}

._some_option {
    background: #053843;
    padding: 35px 0;
}

._some_option button {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    color: #cac9c9;
    cursor: pointer;
    padding: 14px;
    padding-left: 51px;
}
._some_option button:focus,._settings_area button:focus {
    outline: none;
}
._some_option button:hover,._settings_area button:hover,._user_list_scroll a:hover {
    background: #085363;
}

._settings_area {
    padding: 29px 0;
}

._settings_area button {
    background: none;
    border: none;
    color: #cac9c9;
    width: 100%;
    text-align: left;
    padding: 14px;
    padding-left: 51px;
}

.text_W {
    color:white;
}
.text_W:hover{
    color:#053843;
    font-weight: 900;
}


.side_head {
    position: sticky!important;
    top: 0px;
    z-index: 999!important;
    height: 40px!important;
    background: #053843!important;
    width: 300px!important;
}

.make_header_sticky {
    padding-left: 13px;
    position: sticky!important;
    top: 0px;
    z-index: 999!important;
    
  
}


/*._menu_box_container .active {
    display: inline;
}*/


.modal {
    padding-top: 0px!important;
}

._menu_box_container:hover {
   opacity: 0.7;
}