  
  @page {
    size: landscape;
}

@media print
{
 .covercard
  { 
    height:100%;
    
  }

}





.c2option {
    padding-bottom: 4px;
    border-bottom: 2px solid rgb(217, 217, 217);
    width: 127px;
    text-align: left;
    font-family: "segoeUI";
    font-size: 14px;
    font-weight: bold;
}

.c2bodytable {
    position: relative;
    display: flex;
    border: 1px solid black;
    padding: 25px;
}

.body td {
	font-size: 8px;
	padding: 4px;
}

.body table {
	width: 404px;
	height: 286px;
	border: none;
}

.body th {
	font-size: 10px;
    font-weight: bold;
    font-family: century gothic;
    padding: 2px;
}

.body .C24table td {
	padding: 0px;
	padding-top: 0px;
	border: 0px;
    background-color: white;
}

table.c4table {
    height: 236px;
    width: 180%;
}

.body button {
    color: white;
    width: 61px;
    height: 21px;
    padding: 0px;
    border: none;
    background-color: #2C373A;
}

.body select#exampleSelect1 {
    height: 21px;
    border-radius: 0px;
    padding: 0px;
    margin-right: 24px;
}

/*------------------------------------------------------------------card cover page*/

.card {
    position: relative;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid white!important;
    padding:0px!important;
}
.covercard {
    display: flex; 
}

.contcover {
    width: 432px; 
    height: 640px;
    margin: 0px auto;
}

.coverreport {
    font-size: 12px; 
    font-weight: 600;
}

.whole {
    width: 500px;
    height: 545px; 
     font-size: 10px;
}
table .card {
  
    height: 138px;
    display: inline-block;
    border:none;
}

table.card td {
    background-color: white;
}

table.name td {
    background-color: white;
}

table.cardsig td {
    background-color: white;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
}

table.t3 td {
    background-color: white;
    border: 0px;
    text-align: left;
    border-bottom: 1px solid gray;
}

.card td {
    font-size: 10px;
}

table.name {
    height: 10px;
}

table.name td {
    text-align: left;
}

.label1 {
    border-bottom: 1px solid black; 
    margin-right: 20px; 
    margin-bottom: 0px; 
    font-weight: bold;
}

.label2 {
    border-bottom: 1px solid black; 
    margin-bottom: 0px; 
    font-weight: bold;
}

.label3 {
    margin-right: 20px; margin-top: 0px;
}

.certi {
    padding-top: 15px; font-weight: 600;
}

.admitted {
    padding-top: 15px;
}

.guardiansig {
    border:none;
    margin-left: -105px;
    margin-top: -35px;
}
.guardiansig tr, td {
    background-color: white;
}
.noneb {
    border:none;
    text-align: right;
}
.sssf {
    border-bottom: 1px solid black;
    width:200px;
}
