/** {
	font-family: arial;
}
*/
.text {
	font-size: 15px;
	/*border: none!important;*/
}

.tds {
	border: none!important;
	text-align: left!important;
}

.tds1 {
	border: none!important;
	/*width: 29%;*/
}

.text2 {
	font-size: 12px;
}

.border {
	border: none!important;
}

.main-container {
	width: 97%;
	margin: 0 auto;
}

.main-containers .sub-main-container {
	padding: 15px;
	position: relative;
	height: 113px;
}

.main-containers .sub-main-container .sub1 {
	width: 17%;
	position: absolute;
}

.main-containers .sub-main-container .sub2 {
	position: absolute;
	width: 50%;
	padding: 10px;
	margin-left: 24%;
}

.main-containers .sub-main-container .sub2 .sub22 {
	text-align: center;
}

.main-containers .sub-main-container .sub2 .sub2a {
	margin-left: -25px;
}

.main-containers .sub-main-container .sub2 .sub2b {
	margin-left: -26px;
	margin-top: -1px;
}

.main-containers .sub-main-container .sub2 .sub2c {
	font-size: 12px;
	margin-left: -29px;
}

.main-containers .sub-main-container .sub2 .sub2d {
	font-size: 16px;
	font-weight: 600;
	margin-left: -28px;
	margin-top: -4px;
}

.main-containers .sub-main-container .sub2 .sub2e {
	font-size: 15px;
	font-weight: 550;
	margin-top: -2px;
	margin-left: -20px;
}

.main-containers .sub-main-container .sub3 {
	width: 20%;
	position: absolute;
	margin-left: 75%;
}

.main-containers .tab1 {
	padding: 2px;
	background-color: #bfbfbf;
	margin-bottom: 10px;
	margin-top: 40px;
}

.main-containers .tab1 .tab1a {
	margin-left: 40%;
	font-weight: 600;
}

.main-containers .tab2 {
	margin-top: 10px;
	padding: 2px;
	background-color: #bfbfbf;
}

.main-containers .tab2 .tab1a {
	margin-left: 40%;
	font-weight: 600;
}

.main-containers .tab2 .tab2a {
	margin-left: 37.5%;
	font-weight: 600;
}

.main-containers .tab2 .tab2b {
	margin-left: 37.5%;
	font-weight: 600;
}

.main-containers .tabs2 {
	margin-bottom: 5px;
}

.table {
	border: 1px solid black;
	border-collapse: collapse;
	margin-top: 10px;
}

.table .table_tr {
	background-color: #bfbfbf;
	border: 1px solid black;
}

.text3 {
	font-size: 14px;
	margin-left: 75%;
}

.table .table_tr .table_th {
	border: 1px solid black;
	padding: 15px;
}

.table .table_td {
	border: 1px solid black;
	padding: 5px;
}

.img-resize {
	width: 140%;
}

.table .table_tr .text-th {
	position: absolute;
	/*font-size: 17px;*/
	left: 38%;
	top: 26%;
}

.overlinetxt {
	font-size: 15px;
	margin-left: -64px;
	text-decoration: overline;
}

.borders {
	border-bottom: 1px solid black;
	border-top: none;
	border-left: none;
	border-right: none;
}

.border-expand {
	width: 30%;
}

.border-expand1 {
	width: 31%;
}

.tds-expand {
	width: 13%;
}

.tds-expand1 {
	width: 26%;
}

.tds-expand2 {
	width: 20%;
}

.tds-expand3 {
	width: 26.5%;
}

/*sf1-adviser*/

.sf1-head {
	padding: 2px;
	width: 46%;
	margin: 0 auto;
}

.sf1-head .sf1-title {
	width: 99%;
	margin: 0 auto;
	text-align: center;
	font-size: 19px;
}

.sf1-head .sf1-title .sf1-subtitle {
	font-size: 12px;
}

.sf1-imglogo {
	width: 14%;
	float: left;
}

.sf1-headinput {
	padding: 2px;
	width: 83%;
	margin-left: 157px;
	margin-top: 41px;
}

.sf1-headinput .sf1-subheadinput {
	font-size: 14px;
	margin-bottom: 5px;
}

.sf1-headinput .sf1-subheadinput .sf1-2subheadinput {
	font-size: 14px;
}

.table-tdsize {
	font-size: 10px;
}

.border-right {
	border-right: 1px solid gray!important;
	border-left: none!important;
	border-bottom: none!important;
	border-top: none!important;
}

.table-responsive-x{
  overflow-x:auto;
}

.table-floats {
	float: right;
	margin-right: 134px;
	margin-top: -133px;
	width: 41%;
}

.table-floats1 {
	float: right;
	margin-right: -56px;
	margin-top: -133px;
	width: 17%;
}

.sub-signa {
	float: right;
	margin-right: -355px;
	margin-top: -155px;
	font-size: 12px;
}

.sub-signa .marg1 {
	margin-top: 20px;
}

.sub-signa .marg2 {
	margin-top: -6px;
	margin-left: 21px;
}

.sub-signa .marg3 {
	margin-top: 31px;
	width: 29%;
}

.sub-signa .marg4 {
	float: right;
	margin-top: -19px;
	width: 29%;
	margin-right: 31px;
}

.sub-signa .marg5 {
	margin-top: -19px;
}

.sub-signa1 {
	float: right;
	margin-right: -702px;
	margin-top: -155px;
	font-size: 12px;
}

.sub-signa1 .marg1 {
	margin-top: 20px;
}

.sub-signa1 .marg2 {
	margin-top: -6px;
	margin-left: 8px;
}

.sub-signa1 .marg3 {
	margin-top: 31px;
	width: 29%;
}

.sub-signa1 .marg4 {
	float: right;
	margin-top: -19px;
	width: 29%;
	margin-right: 31px;
}

.sub-signa1 .marg5 {
	margin-top: -19px;
}

/*end*/


/*curriculum detail*/

.currihead {
	/*border: 1px solid red;*/
}

.subcurri {
	/*border: 1px solid black;*/
	width: 58%;
	margin: 0 auto;
	font-weight: 700;
	font-size: 13px;
	text-align: center;
}

.subcurri2 {
	font-weight: 700;
	font-size: 13px;
}

.buttonsize {
	font-size: 12px;
	color: white;
	padding: 5px;
	border: none;
	background-color: #2C373A;	
}

.checkbox-des {
	float: left;
	margin-top: 4px;
	margin-left: 5px;
}

.text-des {
	margin-left: -12px;
}

.inpt {
	padding: 10.8px;
	padding-left: 31px;
	margin-left: -33px;
}

.active, .inpt:hover{
	background-color: #102029;
	color: white;
	border-radius: 3px;
}

.inpt2 {
	padding: 10.8px;
}

.active, .inpt2:hover{
	background-color: #102029;
	color: white;
	border-radius: 3px;
}
/*end*/