.managebody {
	width: 55%;
	margin:0px auto;
	margin-top: 50px;
	margin-bottom: 170px;
	background-color: white;
	height: 37em;
}
.requroption {
	font-weight: bold;
	font-size: 14px;
}
.requroption b{
	padding-bottom: 4px;
	border-bottom:2px solid rgb(217, 217, 217);
}
.selsub2 {
	padding: 30px 0px;
	font-size: 14px;
}
.we-40 {
	width: 30%;
	display: inline-block;
	font-size: 12px;
}

.submain {
	padding-bottom: 100px;;
}
.adds {
	width: 527px;
    margin: 0px auto;
    padding-bottom: 100px;
	margin-top: 30px;
	
}
.adds b {
	padding-bottom: 4px;
	font-size: 14px;
	border-bottom:2px solid rgb(217, 217, 217);
}
.wd {
	width: 40%!important;
}
.buttonsave {
	padding: 30px 0px;
    position: relative;
    float: right;
}
/*................................BLOCK AND SECTIONINGSTYLE..........................................*/
.blcok {
	width: 95%;
	margin:0px auto;
	padding-bottom: 100px;
}
.blcok b {
	padding-bottom: 4px;
	font-size: 14px;
	border-bottom:2px solid rgb(217, 217, 217);
}
.we-20 {
	width: 15%;
	display: inline-block;
	font-size: 12px;
}
.td-wid {
	width: 90px!important;
}
.col-md {
	padding:50px;
}
/*/*...................................END OF THE BLOCK....................................**/


/*DETAILS*/
.buttonsize {
    font-size: 12px;
    color: white;
    padding: 5px;
    border: none;
    background-color: #2C373A;
}


.subcurri {
	/*border: 1px solid black;*/
	width: 58%;
	margin: 0 auto;
	font-weight: 700;
	font-size: 13px;
	text-align: center;
}

.subcurri2 {
	font-weight: 700;
	font-size: 13px;
}
/*END OF DETAILS*/