
/*--------------------------------------------------------------Header*/
.containerP .title {
    width: 100%;
    height: 71px;
    padding:16px;
    color:white;
    background-color: #204051;
    font-size: 1.3em;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: left;
    padding-left: 33px;
}

.my {
    color: white; 
    font-family: 'Segoe UI'; 
    font-size: 18px; 
    font-weight: normal;
}

/*--------------------------------------------------------------SF1*/

/*.Dbody.sf1 {
    width: 1325px;
    height: 557px;
    border-radius: 7px;
    padding: 0px;
    overflow: none;
}*/

.containerP.sf1 {
    width: 100%;
}

/*.tableclass {
    width: 100%; 
    height: 401px;
    padding-top: 35px; 
    padding-left: 58px; 
    padding-right: 58px; 
    padding-bottom: 35px; 
    overflow-y: scroll;
    margin-bottom: 84px;
}*/

/*th.birth {
    width: 117px!important;
}

th.mother {
    width: 117px!important;
}
*/
/*--------------------------------------------------------------enrollment report*/

.Dbody.ereport {
    width: 100%;
    height: 505px;
    border-radius: 7px;
    padding: 0px;
    overflow-y: none;
}



button.btn.btn-primary.col-sm-1.report {
    background-color: #2c373a;
}


/*--------------------------------------------------------------cange pass*/

.Cbody.pass {
    width: 877px;
    height: 336px;
    border-radius: 7px;
    padding: 0px;
    font-style: "SegoeUI";
    
}

.mainpass {
    /* margin-left: 59px;
    padding-bottom: 60px; */
    position: relative;
    margin:0px auto;
    padding:40px;
    width: 800px;
}

.bpass {
    margin-right: 13px;
    padding-top: 12px;

}

input.form-control.col-sm-6.inputprof {
    border-radius: 16px;
    background-color: #E8E8E8;
    padding-left: 14px;
    height: 32px;
    box-shadow: none;
    width: 100%!important;
}

/* .mainpass .pass {
    padding-left: 130px;
} */

.bsavepass {
    width: 150px; 
    height: 29px; 
    background-color: #2c373a; 
    border-radius: 30px; 
    color: white;
    font-family: 'Segoe UI'; 
    font-size: 14px; 
    font-weight: bold;
    border:none;
}



/*--------------------------------------------------------------my profile*/

.style {
    border-radius: 8px;
    background-color: white;
    width: 877px;
    border-top-left-radius:14px;
    border-top-right-radius: 14px;
}

.mb-1 {
    margin-bottom: 0px;
}

button.bsaveprof {
    width: 150px;
    height: 29px;
    background-color: #2c373a;
    border-radius: 30px;
    color: white;
    padding: 0px;
    font-family: 'Segoe UI'; 
    font-size: 14px; 
    font-weight: bold;
}



.form.profile {
    width: 175%; 
    text-align: left; 
}

img.profimg {
    border: 1px solid #b1b0b0;
    width: 199px;
    height: 199px;
    -webkit-box-shadow: 2px 3px 5px 4px rgba(173,173,173,0.35);
-moz-box-shadow: 2px 3px 5px 4px rgba(173,173,173,0.35);
box-shadow: 2px 3px 5px 4px rgba(173,173,173,0.35);
}

.im {
    padding-left: 102px;
    padding-bottom: 0px;
    padding-right: 85px;
    box-shadow: 3px,3px,3px, 20%;

}

.bprofile {
    margin-right: -60px;
    padding-top: 9px;
    padding-bottom: 72px;
}

.buploadprof {
    width: 137px;
    border-radius: 16px;
    font-family: 'Segoe UI'; 
    font-size: 16px;
    font-weight: normal;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.45);
    background-color: white;
    color: black;
}

label.col-sm-3.prof {
    padding: 8px 3px 0px 15px;
    font-family: 'Segoe UI'; 
    font-size: 14px;
    font-weight: 400;
}
input.form-control.col-sm-7.inputprof {
    border-radius: 16px;
    background-color: #E8E8E8;
    padding-left: 14px;
    height: 32px;
    box-shadow: none;
}



/*--------------------------------------------------------------enrollment Summary*/

.Dbody.enroll {
    width: 1121px;
    height: 502px;
    border-radius: 7px;
    padding: 0px;
    font-style: "SegoeUI";
}


.Csummary {
    padding-top: 41px;
    padding-left: 79px;
    padding-right: 79px;

}

.form-group.summary {
    padding-top: 7px;
}

select#exampleSelect1 {
    height: 25px;
    border-radius: 0px;
    padding: 2px;
    margin-right: 24px;
}

.Csummary span {
    padding-right: 8px;

}

.tablesummary {
    width: 942px;
    height: 249px;
    position: relative;
    overflow-y: scroll;
}