

.containerP .bodyh {
	background-color: white;
	border-radius:12px;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	width: 730px;
	margin: 0px auto;
	min-width: 730px;
  	max-width: 1024px;
}
.body-1274 {
	background-color: white;
	border-radius:12px;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	/*width: 1239px;*/
	margin: 0px auto;
}
.containerP .enroll {
	position: relative;
}
.title .re {
	padding:4px 20px;
	display: inline-block;
	
}

.containerP .enroll b {
	padding-bottom: 4px;
	border-bottom:2px solid rgb(217, 217, 217);
}
.contbod {
	margin:0px auto;
	width: 90%;
	margin-top:25px;
}
.select-head {
	padding-top: 16px;
	font-size: 12px;
}
.hrsb {
	border-bottom:2px solid rgb(217, 217, 217);
}
.lst {
	margin:0px auto;
	 width: 90%;
	font-size:  12px;
}
.size-16 {
	margin:16px 0px;
	display: block;
}
.marselec {
	margin: 4px;
	padding:4px;
	width: 130px;
	border:1px solid rgb(217, 217, 217);
	/*-webkit-box-shadow: 0px 2px 15px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 15px -8px rgba(0,0,0,0.75);*/
	box-shadow: 0px 2px 15px -8px rgba(0,0,0,0.75);
}
.btnf {
	padding:8px;
	text-align: center;
	width: 80px;
	color:white;
	border:none;
	background-color: black;
}
.btnf:hover {
	color:#2e88c1;
	border:1px solid #2e88c1;
	background-color: white;
	-webkit-box-shadow: 7px 10px 14px -12px rgba(0,0,0,0.75);
	-moz-box-shadow: 7px 10px 14px -12px rgba(0,0,0,0.75);
	box-shadow: 7px 10px 14px -12px rgba(0,0,0,0.75);
}
.center-save {
	display: block;
	padding:20px;
}
.nor-for tr td  .form-control {
	border:1px solid rgb(217, 217, 217);
	border-radius: 0px;
	font-size:  12px;
	padding:2px;
	width:  240px;
/*	-webkit-box-shadow: 0px 2px 15px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 15px -8px rgba(0,0,0,0.75);*/
	box-shadow: 0px 2px 15px -8px rgba(0,0,0,0.75);
}
.cla tr td {
	padding:2px;
}
.body-reg {
	padding-top: 4px;
	font-size: 12px;
	display: block;
}
.requremen {
	margin:0px auto;
	position: relative;
	display: block;
}
.requremen .requ{
	display: inline-flex;
	font-family: "Segoe UI"; 
	font-size: 12px; 
	width: 32%;
	font-style: normal; 
	font-variant: normal;
	font-weight: 400;
    line-height: 13.2px; 
}

.requremen span {
	padding:6px 0px;
}
.requremen span input {
	position: relative;
}

.mar {
	font-size: 12px; 
	padding:  16px 0px;
}
.mar2 {
	font-size: 12px; 
	padding-top:  16px;
}
.we-30 {
	width: 20%;
	display: inline-block;
	font-size:12px;
}
.pad2 {
	padding-bottom:  14px;
}
.wid-fix {
	width: 400px!important;
	font-size: 12px!important;
}
.wa {
	width: 35%;
}



.nb {
		    background-color: white!important;
		    width: 25%!important;
		    border-top:1px solid white!important; 
		    border-left:1px solid white!important; 
		  }
      b {
        width: 20%!important;
      }
      .pay {
        width: 10%!important;
      }

      

      /* Hide the browser's default checkbox */
      .paych  {
        position: relative;
        cursor: pointer;
        height: 15px!important;
        width: 15px!important;
        top: 2px;
      }
      .othes {
        float: right;
      }
      
      input[type="number"]{
        -webkit-box-shadow: none!important;
        -moz-box-shadow:  none!important;
        padding:2px;
        font-size: 12px;
        border-radius: 0px;
        width: 194px;
      }

      .ors {
        border:none!important;
        -webkit-box-shadow: none!important;
        -moz-box-shadow:  none!important;
        box-shadow: none!important;
        padding:2px;
        font-size: 12px;
        border-radius: 0px;
        width: 194px;
      }
      .cancelsn {
        background-color: white;
        color:black;
       
      }
      .cancelsn:hover  {
        background-color: #2c373a;
        color:white;
       
      }