* {
	font-family: "Segoe UI";
}


/*INDEX OF CSS*/
.btn-default { border-color: #0275d8; color:  #0275d8}
.btn-default:hover { border-color: #0275d8; background-color: #0275d8; color: #FFF } 
.bacg {
  animation-name: myslid;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
@keyframes myslid {
  0% {  background-image: url('assets/image/bgknowledge.jpg'); }
  50% {  background-image: url('assets/image/sanaallba.png'); }
  100% { background-image: url('assets/image/bgknowledge.jpg');}
}
.alert {
  position: fixed;
  margin: 0px auto;
  opacity: 0;
  right: 8px;
  top: 50px;
  animation: animate;
  animation-duration: 10s ;
  z-index: 999;
}
@keyframes animate {
  0% { opacity: 0}
  10%{opacity: 1}
  25% { opacity: 1}
  50% { opacity: 1}
  70% { opacity:  0;}
  100% { opacity: 0; }
}

#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(192, 192, 192, 0.6);
  background-image: url('../../../assets/image/ezgif.com-gif-maker.gif');
  background-repeat: no-repeat;
  background-position: center;
}
 #action_loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1200;
  width: 100%;
  height: 100%;
  background-color: rgba(192, 192, 192, 0.6);
  background-image: url('../../../assets/image/ezgif.com-gif-maker.gif');
  background-repeat: no-repeat;
  background-position: center;
}
/*END OF INDEX CSS*/

/*DEFAULT CSS*/
select {
	padding:3px;
	font-size: 12px;
	width: 150px;
	border:1px solid rgb(217, 217, 217);
	-webkit-box-shadow: 0px 2px 15px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 15px -8px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 15px -8px rgba(0,0,0,0.75);
	
}
.container_select {
	position: relative;
	display: inline-block;
	margin-bottom: 20px;
}

.line_r {
	padding-bottom: 4px;
    border-bottom: 2px solid rgb(217, 217, 217);
}
.button_local {
	color:white;
	width: 80px;
	font-size: 12px;
	padding:4px;
	border:none;
	background-color: #2C373A;
}
input[type="checkbox"] {
	background-color: #D5D1D1;
	border-radius: -2px;
	width: 11px;
	height: 11px;
	border:none;
}

input[type="radio"]{
	background-color: #D5D1D1;
	border-radius: 0.2px;
	width: 11px;
	height: 11px;
	border:none;
}
input[type="text"]{
	border:1px solid rgb(217, 217, 217);
	/*-webkit-box-shadow: 0px 2px 15px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 15px -8px rgba(0,0,0,0.75);*/
	box-shadow: 0px 2px 15px -8px rgba(0,0,0,0.75);
	padding:3px;
	font-size: 12px;
	border-radius: 0px;
	width: 194px;
}
input[type="number"]{
	border:1px solid rgb(217, 217, 217);
	-webkit-box-shadow: 0px 2px 15px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 15px -8px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 15px -8px rgba(0,0,0,0.75);
	padding:2px;
	font-size: 12px;
	border-radius: 0px;
	width: 194px;
}
input[type="password"]{
	border:1px solid rgb(217, 217, 217);
	-webkit-box-shadow: 0px 2px 15px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 15px -8px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 15px -8px rgba(0,0,0,0.75);
	padding:2px;
	font-size: 12px;
	border-radius: 0px;
	width: 194px;
}
input[type="email"]{
	border:1px solid rgb(217, 217, 217);
	-webkit-box-shadow: 0px 2px 15px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 15px -8px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 15px -8px rgba(0,0,0,0.75);
	padding:2px;
	font-size: 12px;
	border-radius: 0px;
	width: 194px;
}

input[type="date"]{
	border:1px solid rgb(217, 217, 217);
	-webkit-box-shadow: 0px 2px 15px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 15px -8px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 15px -8px rgba(0,0,0,0.75);
	padding:2px;
	font-size: 12px;
	border-radius: 0px;
	width: 194px;
}



/*TITLE HEADER TAB*/

.containerP .title {
	width: 100%;
	padding:16px;
	margin-bottom:40px;
	color:white;
	background-color: #204051;
	font-size: 1.3em;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.containerP .title .close {
	display: inline-block;
	padding:8px;
}
.lst .cla tr {
	border:2px solid black;
	margin:30px;
	padding:30px;
}

.wa {
	border:1px solid rgb(217, 217, 217);
	-webkit-box-shadow: 0px 2px 15px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 15px -8px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 15px -8px rgba(0,0,0,0.75);
	border-radius: 0px;
	width: 194px;
	font-size: 12px;
}
.infor {
	border:1px solid rgb(217, 217, 217);
	-webkit-box-shadow: 0px 2px 15px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 15px -8px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 15px -8px rgba(0,0,0,0.75);
	border-radius: 0px;
	width: 45%;
	font-size: 12px;
}
.tab {
	display: inline-block;
	padding:4px 50px;
}
.tab a:hover {
	color:white;
	text-decoration: none;
}
.tab:hover {
	background-color: #386978;
}
/*THIS TAB TO ALIGN RIGHT*/
.tabone a:hover {
	color:white;
}

.tabone {
	display: inline-block;
	padding:4px 0px;
}
/*THIS END  TAB ALIGN RIGHTY*/


.home {
	color: #407780;
	display: inline-block;
	position: relative;
	padding-right:16px;
}
.x {
	display: inline-block;
	padding-right: 16px;
	
}
.selec-g {
	padding:20px 0px
}
/*END TITLE HEADER TAB*/

/*END OF DEFAULT CSS*/

/*--------------------------------------------------------------table*/

table{
    padding-left: 25px;
    padding-top: 35px;
    border: 1px solid gray;
    width: 100%;
    height: auto;
}
th, td {
  padding: 5px;
  text-align: center;
  border: 1px solid gray; 

}

th {
    background-color: #948D8D;
    font-family: 'Segoe UI'; 
    font-size: 12px; 
    font-weight: bold;
}

td {
    background-color: #e8e7e7;
    font-family: 'Segoe UI'; 
    font-size: 12px; 
    font-weight: normal;
}


.tablecon {
	width:100%;
	padding:20px;
	margin:0px auto;

}
.spacetable{
	padding-top: 20px;
}


.remarks {
	text-align: left;
}
/*END OF THE TABLE ..........................................................*/

a.nav-item.nav-link {
    font-size: 13px;
}

nav.navbar.navbar-expand-lg.navbar-light {
    background-color: transparent;
    padding: 0;
}
.nav-item.nav-link {
	padding: 8px 11px;
    width: 154px;
    text-align: center;
}

.nav-item.nav-link {
	background-color: #666;
	color: #fff;
}
.nav-item.nav-link.active {
	background-color: #fff;
	border-color: #000;
}
.nav-item.nav-link.active:hover {
	background-color: #fff;
	color: #000!important;
	font-size: 13px;
}
.nav-item.nav-link:hover {
	color: #000!important;
	font-size: 13px;
	background-color: #fff;

}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
	width: 79px;
	padding: 4px;
}


/*.form-container {
	background-color: #ffffff;
}*/

.rounded-circle {
	border: #333 solid 1px;
	width: 167px;
    margin-left: 18px;
}

/*.Cbody {
	padding: 28px;
	height: 35em;
	-webkit-box-shadow: 11px 9px 17px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 11px 9px 17px -8px rgba(0,0,0,0.75);
	box-shadow: 11px 9px 17px -8px rgba(0,0,0,0.75);
	overflow: hidden;
	background-color: #fff;
	font-size: 12px;
	border-top-left-radius: 24px;
    border-top-right-radius:24px;
    border:2px solid black;
}*/
.Dbody {
	padding: 28px;
	height: 35em;
	-webkit-box-shadow: 11px 9px 17px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 11px 9px 17px -8px rgba(0,0,0,0.75);
	box-shadow: 11px 9px 17px -8px rgba(0,0,0,0.75);
	overflow-y: scroll;
	background-color: #fff;
	font-size: 12px;
}
.form-footer {
	display: flex;
	justify-content: space-between;
}

.form-footer .btn.btn-info.up {
    margin-left: 33px;
}

/* .buttonsave {

    float: right;
    margin-right: 12px;
} */

.form {
   
    position: relative;
}
.saves {
	margin-right: 18%;
    height: 31%;
}

fieldset.field-m {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend {
    font-size: 13px !important;
    text-align: left !important;
}



.form-control {
    display: block;
    width: 95%;
    height: calc(1.5em + .75rem + 2px);
    padding: 5px;
    font-size: 12px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 11px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.nor a:hover {
	text-decoration: none;
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.nor img:hover{
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.nor a {
	color: #333;
	font-size: 10px;
}

.container-nor{
	width: 100%;
	height: 100%;
	margin-top: 69px;

}
.nor{
	color: #3a3a3a;
	overflow: hidden;
	text-align: center;
	margin: 0 auto;
	width: 80%;

}

.imgnor{
	display: inline-block;
	margin: 5px;
	color: black;
	overflow: hidden;
	position: relative;
	width: 11em;
    background-color: #efeee6;
    padding: 11px;
    padding-top: 12px;
	border-radius: 10px;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(63,66,66,1);
	-moz-box-shadow: 3px 3px 5px 0px rgba(63,66,66,1);
	box-shadow: 3px 3px 5px 0px rgba(63,66,66,1);


}

.navbar-nav.navi.borderYtoX {
    height: 26px;
}

.btn-primary {
	font-size: 12px;
}
.imgnor img{
	height: 60px;
	
}
.imgnor img a {
	text-decoration: none;
}
.imgnor p{
	font-size: 11px;
	font-weight: bold;

}

.content-nor{
	padding-top: 20px;
}
.content-nor p{
	color: #3a3a3a;
	text-align: center;
	padding-top: 50px;
	margin-top: 0;
	font-weight: bold;
}
.has{
	display: flex;
	justify-content: center;
	align-items: center; 
	text-align: center;
}
.hasnor{
	padding: 100px;
}
.hasnor img{
	height: 60px;
}
.hasnor p{
	font-weight: bold;
	font-size: 10px;
	color: #3a3a3a;
}
.hasnor a:hover {
	text-decoration: none;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	opacity: 1;
}
.hasnor img:hover{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	
}
body {
	margin: 0;
	padding: 0;
	font-family: Century Gothic, sans-serif;

}


.sal-header {
	background-color: #3a3a3a;
	padding-bottom: 50px;
	border-bottom: 5px;

}


.sal-logo {
	position: relative;
	width: 200px;
	float: left;
	background-color: #3a3a3a;
	padding: 15px;
	border-style: solid;
    border-color: #3a3a3a transparent;
}



.sal-continer {
	width: 25%;
	float: right;
	position: relative;
	padding-top: 120px;
	
	color: #fff;
}
/*
input {

	width: 230px;
	border: 2px solid #a6a5a5; 
	border-radius: 7px;
	background-color: #e9da01;
	height: 23px;
	color: #fff;
	font-weight: bold;

}*/

.box1 {
	padding:20px!important;
}



button.sal-btn {
	
	margin-left: 162px;
	border-radius: 5px;
	width: 80px;
	height: 22px;
	background-color: #54ace9;
	color: #fff;
	border: 1px solid grey; 
}

button.sal-btn:hover {
	background: green;

}


.sal-f1 {
	margin: 3px;
	padding: 0;
	font-size: 15px;
}

.sal-f2 {
	margin: 15px;
	padding-left: 110px;
	color: #fff;
	font-size: 14px;
}
.table-heads th {
	color: #000;
}
/*.btn-primary {
	margin-right: 52%;
}*/

input[type="dropdown"] {
    background-color: white;
    width: 65px;
    border-radius: 5px;
}
.note{
	width: 300px;
	position: relative;
	top: -380px;
	right: -70% ;
}
.top{

	position: relative;
	top: -290px;
}
.stylbut {
	background-color: #007bff;
	color: white;
	border:none;
	padding:10px;
	border-radius: 10px;
}
.stylbut:hover {
	background-color: #469bf5;
	
}

/** css of the backgroud **/

div.sal-modify {
	border: 1px solid blue;
	margin-left: 100px;
	margin-right: 50px;
	background-color: #fff;
	margin-top: 150px;
	padding-bottom: 300px;

}

/* student-account and modify-registration */

fieldset {
	margin: 10px;
	padding: 25px;
}

/* modify-payment.php and add-payment.php */

.sal-t1 {
	padding-top: 10px;
	height: 20px;
	font-size: 12px;
	text-align: left;
	margin-left: 5px;
	margin-left: 5px;
}

/* modify-payment.php and add-payment.php */

.sal-t2 {
	width: 80%;
	font-size: 12.5px;
	text-align: left;
	margin-left: 5px;
}

/* modify-payment.php and add-payment.php */

.sal-t3 {
	width: 90%;
	font-size: 11.5px;
	margin-left: 5px;
}

/* modify-payment.php and add-payment.php */

.sal-t4 {
	width: 80%;
	font-size: 12.5px;
	margin-left: 5px;
	text-align: right;
}

/* add-payment.php */

.sal-t5 {
	width: 80%;
	font-size: 12.5px;
	margin-left: 5px;
	text-align: left;
}

/* add-payment.php */

.sal-t6 {
	width: 80%;
	font-size: 12.5px;
	margin-left: 5px;
}

/* add-payment.php */

.sal-t7 {
	width: 80%;
	font-size: 12.5px;
	margin-left: 5px;
	text-align: right;
}

/* modify-registration.php student-accont.php */

.sal-t8 {
	width: 90%;
	font-size: 12.5px;
	margin-left: 20px;
	text-align: center;
}

/* modify-registration.php and student-accont.php */

.sal-t9 {
	width: 90%;
	font-size: 12.5px;
	text-align: left;
}


/* student-accont.php */
.sal-t10 {
	margin-left: 20px;
	width: 55%;
	
}

/* student-accont.php */

.sal-t11 {
	margin-left: 20px;
	width: 55%;
}

/* student-accont.php */

.sal-t12 {
	margin-left: 52%;
	margin-top: 2px;
}

.sal-t9 td {
	padding-left: 6px;
}


.sal-t2 td {
	padding-left: 3px;
}

.box3 {
	width: 90px;
}

.inp {
	width: 80px;
	padding-left: 3px;
}

.inp2 {
	width: 100px;
	padding-left: 3px;
}

.box12 {
	width: 200px;
}

.txt {
	width: 143px;
}

.txt2 tr td th {
	font-size: 50px;
}

.inp3 {
	width: 80px;
	padding-left: 3px;
}

.inp4 {
	width: 50px;
	padding-left: 3px;
}

.inp5 {
	width: 100px;
	padding-left: 3px;
}

.inp6 {
	width: 250px;
	padding-left: 3px;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
    padding: 6px 17px;
}



.sal-t9 td{
	border-bottom: 1px solid #a7bfde;
	font-size: 12px;
	padding-right: 10px;
}

.sal-t10 td{
	border-bottom: 1px solid #a7bfde;
	font-size: 14px;
	padding-right: 10px;
	padding-left: 5px;
}

.sal-t11 td{
	border-bottom: 1px solid #a7bfde;
	font-size: 14px;
	padding-right: 10px;
	padding-left: 5px;
}

.txt2 {
	font-size: 16px;
	font-weight: bold;
}

.bord1 {
  border-left: 1px solid #a7bfde;
  border-right: 1px solid #a7bfde;
  border-top: 1px solid #a7bfde;
  border-collapse: collapse;
  width: 70%;
}


.bord2 {
  border-left: 1px solid #a7bfde;
  border-right: 1px solid #a7bfde;
  border-top: 1px solid #a7bfde;
  border-collapse: collapse;
  width: 70%;
  padding: 16px;
  padding-bottom: 15px;
}

.bord3 {
	width: 40%;
	border-left: 1px solid #a7bfde;
  	border-right: 1px solid #a7bfde;
  	border-top: 1px solid #a7bfde;
 	border-collapse: collapse;
 	text-align: right;
}

.bord4 {
	border-left: 1px solid #a7bfde;
  	border-right: 1px solid #a7bfde;
  	border-top: 1px solid #a7bfde;
  	padding-left: 5px;
}

.m-control {

	width: 40px;
}


.form-group.m-text textarea {
	width: 42%;
	padding-right: 20px;
	margin-left: 252px;
	margin-top: -28px;
}

.m-btn-save {
    padding-left: 20px;
    margin-left: 58%;
}

.student {
    width: 57%;
}

.chckbox {
	position: inherit!important;
}


table .nors {
    width: 45em;
    margin-top: 24px;
}

label {
    padding: 0px 8px;
}


/*create billing button*/
.butn {
    padding-top: 10px;
}

/*Create billing*/
.create {
	margin: 0px auto;
    position: relative;
    width: 90%;
  
}

.sasses {
    padding-top: 27px;
}

.duedate{
	position: relative;
    width: 50%;
   
    display: block;
    left: -210px;
}
.req {
	width: 45%;
	display: inline-block;
}
.tests td {
	background-color: #F2F3F4!important;
	border: 1px solid#F2F3F4!important;
}
.tests {
	border: 1px solid#F2F3F4!important;
}

/*---------------------------Scroll Bar menu---------*/
.scroll-bar-wrap {
  width: 300px;
  position: relative;
}
.scroll-box {
  width: 50%;
  height: 52px;
  overflow-y: scroll;
}
.scroll-box::-webkit-scrollbar {
  width: .4em; 
}
.scroll-box::-webkit-scrollbar,
.scroll-box::-webkit-scrollbar-thumb {
  overflow:visible;
  border-radius: 4px;
  display: none;
}
.scroll-box::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.2); 
}
.cover-bar {
  position: absolute;
  background: #fff;
  height: 100%;  
  top: 0;
  right: 0;
  width: .4em;
  -webkit-transition: all .5s;
  opacity: 1;
}
/* MAGIC HAPPENS HERE */
.scroll-bar-wrap:hover .cover-bar {
   opacity: 0;
  -webkit-transition: all .5s;
}

</style>

