.wid-fix2 {
	width: 360px!important;
	font-size: 12px!important;
}


.adds::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 36px;
}
.adds::-webkit-scrollbar-thumb {
  background-color: #00000029;
  outline: 1px solid #191e2c00;
  border-radius: 36px;
}

.adds::-webkit-scrollbar {
  width: 6px;
  border-radius: 36px;
} 

.table-responsive::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 36px;
}
.table-responsive::-webkit-scrollbar-thumb {
    background-color: #00000029;
    outline: 1px solid #191e2c00;
    border-radius: 36px;
}

.table-responsive::-webkit-scrollbar {
    width: 6px;
    border-radius: 36px;
} 

._tab_title_tab {
    position: relative;
    width: 500px;
} 
._main_tab_one {
	display: inline-block;
	padding-right: 24px;
	
}

._main_tab_one h6 a {
	color:white;
}
._main_tab_one h6 a:hover {
	color: #dee2e6;
	text-decoration: none;
}



.table-responsive{
  height:50vh;  
  overflow-y:auto;
}

thead tr:nth-child(1) th{
  position: sticky;
  top: 0;
  z-index: 10;
}


  